@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@font-face {
    font-family: Gilroy-Bold;
    src: url("./assets/Fonts/gilroy-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url("./assets/Fonts/gilroy-semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Gilroy-Medium;
    src: url("./assets/Fonts/gilroy-medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Gilroy-Heavy;
    src: url("./assets/Fonts/gilroy-heavy.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Gilroy-Regular;
    src: url("./assets/Fonts/gilroy-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Urbanist-Regular;
    src: url("./assets/Fonts/Urbanist-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Urbanist-Bold;
    src: url("./assets/Fonts/Urbanist-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Urbanist-SemiBold;
    src: url("./assets/Fonts/Urbanist-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Urbanist-Medium;
    src: url("./assets/Fonts/Urbanist-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Juana-Medium;
    src: url("./assets/Fonts/juana-medium.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: Juana-Bold;
    src: url("./assets/Fonts/juana-bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@theme {
   --font-gilroyBold: Gilroy-Bold, sans-serif;
   --font-gilroySemiBold: Gilroy-SemiBold, sans-serif;
   --font-gilroyMedium: Gilroy-Medium, sans-serif;
   --font-gilroyHeavy: Gilroy-Heavy, sans-serif;
   --font-gilroyRegular: Gilroy-Regular, sans-serif;
   --font-urbanistRegular: Urbanist-Regular, sans-serif;
   --font-urbanistBold: Urbanist-Bold, sans-serif;
   --font-urbanistSemiBold: Urbanist-SemiBold, sans-serif;
   --font-urbanistMedium: Urbanist-Medium, sans-serif;
   --font-juanaBold: Juana-Bold, sans-serif;
   --font-juanaMedium: Juana-Medium, sans-serif;
}



.inter-Semibold{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.inter-Regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll-right {
  animation: scroll-right 15s linear infinite;
}

.animate-scroll-left {
  animation: scroll-left 15s linear infinite;
}
@fo